.main {
    font-family: Arial, sans-serif;
    margin: 50px;
    max-width: 400px;
   
  }
  .i {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #strengthContainer {
    width: 90%;
    height: 10px;
    background-color: #e0e0e0;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  #strengthOutput {
    height: 100%;
    width: 0%;
    background-color: red;
    transition: width 0.3s ease;
  }
  
  #strengthText {
    margin-top: 10px;
    font-weight: bold;
  }
  